@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root,
.app {
  height: 100%;
  background-color: #0F0F0F;
}

@font-face {
  font-family: "Array";
  src: url("../fonts/array-fonts/Array-Regular.ttf");
}
@font-face {
  font-family: "Connection";
  src: url("../fonts/Connection.otf");
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 2s linear infinite;
}

.hide-arrows-number-input::-webkit-inner-spin-button,
.hide-arrows-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom layout for color picker */
.custom-layout .react-colorful {
  padding: 4px;
  border-radius: 0px;
  background: #303030;
  box-shadow: none;
}

.custom-layout .react-colorful__saturation {
  margin: 0px;
  border-radius: 0px;
  border-bottom: none;
}

.custom-layout .react-colorful__hue {
  margin-top: 4px;
  order: 1;
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
  height: 8px;
  border-radius: 0px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
  width: 8px;
  height: 10px;
  border-radius: 0px;
  
}
